/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and th
 e H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background-color: #eee; }

html, body {
  height: 100%;
  width: 100%; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1 {
  font-size: 3em;
  margin: 0; }

.video-container {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.navegation li {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .navegation li:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  .navegation li a {
    color: white;
    cursor: pointer; }
    .navegation li a:hover {
      text-decoration: none; }

#description ul {
  margin: 0px; }

#description.absolute {
  bottom: 0px; }

#description.fixed {
  top: 0px; }

.food {
  height: 300px;
  background-size: cover;
  background-position: center;
  padding: 0%;
  overflow: hidden; }
  .food:hover .screen {
    top: 0%; }
  .food .screen {
    top: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    -webkit-transition: top 2s;
    -o-transition: top 2s;
    transition: top 2s; }

#menu-title {
  width: 300px;
  z-index: 100;
  left: calc(50% - 150px);
  top: calc(50% + 18em); }

#gallery {
  width: 100%;
  overflow-x: hidden;
  height: 100%; }
  #gallery .inner {
    white-space: nowrap;
    position: relative;
    left: 0%;
    -webkit-transition: left 3s;
    -o-transition: left 3s;
    transition: left 3s; }
  #gallery .image {
    display: inline-block;
    margin-right: -4px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center; }

.container .card {
  margin-top: -200px;
  padding: 2em; }

.path-step {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #a2a2a2;
  display: inline-block;
  margin-top: 2em;
  opacity: 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer; }
  .path-step.hover {
    -webkit-box-shadow: 0px 0px 5px rgba(250, 250, 250, 0.8);
    box-shadow: 0px 0px 5px rgba(250, 250, 250, 0.8);
    opacity: 0.9; }
  .path-step.active {
    opacity: 1;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px rgba(250, 250, 250, 0.8);
    box-shadow: 0px 0px 5px rgba(250, 250, 250, 0.8); }

.step-form .step {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  margin: 0px; }
  .step-form .step.active {
    padding: 1em 0.5em;
    max-height: 150px; }
  .step-form .step input, .step-form .step textarea {
    font-size: 2em;
    padding: 0.5em;
    border: none;
    outline: none;
    border-bottom: solid 1px #eee;
    background-color: transparent;
    width: 100%; }

#map {
  height: 500px; }

/* ==========================================================================
   Helper classes Start
   ========================================================================== */
.display {
  display: none !important; }

.black-background {
  background-color: rgba(26, 26, 26, 0.78); }

.white-text {
  color: white; }

.black-text {
  color: rgba(26, 26, 26, 0.78); }

.card {
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  margin-bottom: 400px; }

.black {
  background-color: black; }

.lobster {
  font-family: 'Dancing Script', cursive; }

.slim {
  font-weight: 200; }

.small {
  font-size: 13px; }

.medium, .navegation li {
  font-size: 1.5em; }

.large-padding {
  padding: 10px 15px; }

.title {
  font-size: 4em;
  color: white; }

.subtitle {
  font-size: 2.5em; }

.medium, .navegation li {
  font-size: 1.5em; }

.subtitle {
  font-size: 2.5em; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.top {
  top: 3em; }

.right {
  right: 1em; }

.bottom {
  bottom: 0px; }

.up {
  z-index: 10; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.row {
  margin: -10.7px;
  padding-bottom: 20px; }

.no-margin {
  margin: 0 !important; }

#contact {
  margin-top: -200px; }

/* ==========================================================================
   Helper classes End
   ========================================================================== */
.title-container {
  background: rgba(0, 0, 0, 0.8);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(63, 76, 107, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(63, 76, 107, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(63, 76, 107, 0.8)));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(63, 76, 107, 0.8) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(63, 76, 107, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-start', endColorstr='$color-end',GradientType=1 );
  /* IE6-9 */ }
