!!!5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%html{class:"no-js", lang:"en"}
	%head
		%meta{charset:"utf-8"}
		%meta{name: "description", content: "Eat fresh and delicius latin food"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}

		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{href:'https://fonts.googleapis.com/css?family=Dancing+Script', rel:'stylesheet', type:'text/css'}
		%link{rel:"stylesheet", href:"css/flexboxgrid.min.css"}
		%link{rel:"stylesheet", href:"css/style.css"}

		%script{src:"js/vendor/modernizr-2.8.3.min.js"}

		%title Latin Restaurant
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			You are using an
			%strong outdated browser.
			Please
			%a{href:"http://browsehappy.com/"}
			upgrade your browser to improve your experience.
		="<![endif]-->"

		//Video container to show video
		.video-container.absolute
			%video{autoplay:true, width:"100%", height:"100%",poster:"/videos/images/bbq.jpg",loop:true}
				%source{src:"/videos/mp4/bbq.mp4"}
				%source{src:"/videos/webm/bbq.webm"}
		.row.middle-xs.full-height.center-xs.up.relative.title-container
			.col-xs-12
				.box
					-# %img{src:"/imgs/logo.png", width:200}
					%h1.white-text.title.lobster.no-margin Latin Restaurant
