!!!5
%html{class:"no-js", lang:"en"}
	%head
		%meta{charset:"utf-8"}
		%meta{name: "description", content: "Eat fresh and delicius latin food"}
		%meta{name:"viewport", content:"with=devise-with, initial-scale=1"}
		%script{src:""}
		%title Latin Restaurant
	%body
		The best latin Restaurant
