!!!5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%html{class:"no-js", lang:"en"}
	%head
		%meta{charset:"utf-8"}
		%meta{name: "description", content: "Eat fresh and delicius latin food"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%meta{name:"viewport", content:"with=devise-with, initial-scale=1"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
		%title Latin Restaurant
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			You are using an
			%strong outdated browser.
			Please
			%a{href:"http://browsehappy.com/"}
			upgrade your browser to improve your experience.
		="<![endif]-->"

		//Video container to show video
		.video-container
			%video{autoplay:true, loop:true}
				%source{src:"/videos/mp4/bbq.mp4"}
				%source{src:"/videos/webm/bbq.webm"}
